<?xml version = "1.0"?>

<launch>
    <node name="arduino_node" type="serial_node.py" pkg="rosserial_python" output="screen"> <!--launch-prefix="bash -c'sleep 5; exec $0 $@'"> -->
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>
    <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"/>
     
</launch> 

<!-- not used only for testing my idea -->
